# Empiezo por hacer la petición a la API de weatherbit

In [18]:
import requests
import json
import pandas as pd

In [13]:

# Tu clave de API de Weatherbit
api_key = '721fef6a25f1470bbd45601158e5c711'

# URL base de la API de Weatherbit
base_url = 'http://api.weatherbit.io/v2.0/history/hourly'

# 'http://api.weatherbit.io/v2.0/history/hourly?lat=41.32062&lon=2.0105984&start_date=2022-01-01&end_date=2023-12-31&key=721fef6a25f1470bbd45601158e5c711'
#base_url = 
           

URL = "https://api.weatherbit.io/v2.0/history/hourly?lat=41.32062&lon=2.0105984&start_date=2023-01-01&end_date=2023-12-31&tz=local&key=721fef6a25f1470bbd45601158e5c711"
            
# Coordenadas de la ubicación para la que deseas obtener el pronóstico
latitud = '41.32062'
longitud = '2.0105984'

# Parámetros de la solicitud
params = {
    'lat': latitud,
    'lon': longitud,
    'key': api_key, 
#     "start_date"= [YYYY-MM-DD OR YYYY-MM-DD:HH] (REQUIRED)
# end_date=[YYYY-MM-DD OR YYYY-MM-DD:HH] (REQUIRED)
}

# Realizar la solicitud GET a la API de Weatherbit
#response = requests.get(base_url, params=params)
response = requests.get(URL)

# Verificar si la solicitud fue exitosa (código de estado 200)
if response.status_code == 200:
    # Convertir la respuesta a formato JSON
    data = response.json()
    
    # Imprimir la respuesta (en este ejemplo, solo mostramos el primer resultado)
    print(data['data'][0])
else:
    # Si la solicitud no fue exitosa, imprimir el mensaje de error
    print("Error al realizar la solicitud:", response.status_code)

{'app_temp': 11, 'azimuth': 323.5, 'clouds': 62, 'datetime': '2022-12-31:23', 'dewpt': 7.9, 'dhi': 0, 'dni': 0, 'elev_angle': -68.4, 'ghi': 0, 'h_angle': None, 'pod': 'n', 'precip': 0, 'pres': 1025, 'revision_status': 'final', 'rh': 81, 'slp': 1026, 'snow': 0, 'solar_rad': 0, 'temp': 11, 'timestamp_local': '2023-01-01T00:00:00', 'timestamp_utc': '2022-12-31T23:00:00', 'ts': 1672527600, 'uv': 0, 'vis': 16, 'weather': {'description': 'Broken clouds', 'code': 803, 'icon': 'c03n'}, 'wind_dir': 315, 'wind_gust_spd': 4, 'wind_spd': 2}

In [14]:
nombre_archivo = "lat=41.32062&lon=2.0105984&start_date=2023-01-01&end_date=2023-12-31.json"

# Guarda el diccionario como JSON en el archivo
with open(nombre_archivo, 'w') as archivo:
    json.dump(data, archivo)

print("Archivo JSON guardado correctamente.")

Archivo JSON guardado correctamente.

In [25]:
# Convertir el JSON en un DataFrame
df = pd.DataFrame.from_dict([data])


# Imprimir el DataFrame
print(df["data"].to_string)

<bound method Series.to_string of 0    [{'app_temp': 11, 'azimuth': 323.5, 'clouds': ...
Name: data, dtype: object>

In [23]:
# Usa pd.json_normalize para expandir el JSON en nuevas columnas
df_expandido = pd.json_normalize(df['data'])

# Concatena las nuevas columnas al DataFrame original
df = pd.concat([df, df_expandido], axis=1)

df.head()

,city_id,city_name,country_code,data,lat,lon,sources,state_code,station_id,timezone,...,8726,8727,8728,8729,8730,8731,8732,8733,8734,8735
0,3105935,Viladecans,ES,"[{'app_temp': 11, 'azimuth': 323.5, 'clouds': ...",41.32062,2.010598,"[081810-99999, imerg, era5, modis]",56,081810-99999,Europe/Madrid,...,"{'app_temp': 15.2, 'azimuth': 196.5, 'clouds':...","{'app_temp': 14.2, 'azimuth': 210.5, 'clouds':...","{'app_temp': 14, 'azimuth': 223, 'clouds': 37,...","{'app_temp': 13.2, 'azimuth': 234.1, 'clouds':...","{'app_temp': 12.2, 'azimuth': 243.9, 'clouds':...","{'app_temp': 11.2, 'azimuth': 253.1, 'clouds':...","{'app_temp': 10.7, 'azimuth': 262, 'clouds': 0...","{'app_temp': 10.7, 'azimuth': 271.5, 'clouds':...","{'app_temp': 10.6, 'azimuth': 282.8, 'clouds':...","{'app_temp': 7.7, 'azimuth': 298.4, 'clouds': ..."